# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.db
*.sqlite3
*.log
instance/

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
.env.local
.env.*.local

# =========================
# Vercel
# =========================
.vercel

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db